<h1>{{title}}</h1>
<div class="container0">
    <app-one-b></app-one-b>
    <app-one-c></app-one-c>
    <app-one-d></app-one-d>
</div>
<div class="container1">
    <app-two></app-two>
    <app-two-b></app-two-b>
    <app-two-c></app-two-c>
    <app-two-teja></app-two-teja>
</div>
<div class="container2">
    <app-three-a></app-three-a>
    <app-three-b></app-three-b>
    <app-three-c></app-three-c>
</div>
<div class="container3">
    <app-four-a></app-four-a>
    <app-four-b></app-four-b>
    <app-four-c></app-four-c>
</div>
<div class="container4">
    <app-five-a></app-five-a>
    <app-five-b></app-five-b>
    <app-five-c></app-five-c>
</div>
<div class="container5">
    <app-six-a></app-six-a>
    <app-six-b></app-six-b>
    <app-six-c></app-six-c>
    <app-six-d></app-six-d>
</div>
<app-seven-a></app-seven-a>
<app-registration-form></app-registration-form> 
<div class="container6">
    <app-eight-a></app-eight-a>
<app-eight-b></app-eight-b>
<app-eight-c></app-eight-c>

</div> 
<div class="container6">
    <app-nine-a></app-nine-a>
    <app-nine-b></app-nine-b>
</div>
<div class="container7">
    <app-ten-a></app-ten-a>
    <app-ten-b></app-ten-b>
    <app-ten-c></app-ten-c>
    <app-ten-d></app-ten-d>
</div>
